<h2>Diagnosa Diabetes</h2>
<form id="questionforms" name="questionforms">
    <div class="form-group row">
        <label for="inputState" class="col-sm-3 col-form-label">Memiliki Orang Tua Diabetes</label>
        <div class="col-sm-9">
            <select id="parent-value" required class="form-control">
                <option selected disabled> Pilih...</option>
                <option value="true">Ya</option>
                <option value="false">Tidak</option>
            </select>
        </div>
    </div>

    <hr>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="s1">Sering merasa haus</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                S1
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    This is Explanation S1
                </div>
            </div> --}}
            <select id="s1" class="form-control" required>
                <option disabled selected> Pilih...</option>
                <option value="true">Ya</option>
                <option value="false">Tidak</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="s2">Sering buang air kecil, terutama di malam hari.</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS2"
                aria-expanded="false" aria-controls="explanationS2">
                S2
            </button>
            <div class="collapse" id="explanationS2">
                <div class="card card-body">
                    This is the explanation of S2
                </div>
            </div> --}}
            <select id="s2" required class="form-control">
                <option disabled selected> Pilih...</option>
                <option value="true">Ya</option>
                <option value="false">Tidak</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="s3">Sering merasa sangat lapar.</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS3"
                aria-expanded="false" aria-controls="explanationS2">
                S3
            </button>
            <div class="collapse" id="explanationS3">
                <div class="card card-body">
                    This is the explanation of S3
                </div>
            </div> --}}
            <select id="s3" required class="form-control">
                <option disabled selected> Pilih...</option>
                <option value="true">Ya</option>
                <option value="false">Tidak</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="s4">Turunnya berat badan tanpa sebab yang jelas.</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS4"
                aria-expanded="false" aria-controls="explanationS2">
                S4
            </button>
            <div class="collapse" id="explanationS4">
                <div class="card card-body">
                    This is the explanation of S4
                </div>
            </div> --}}
            <select id="s4" required class="form-control">
                <option disabled selected> Pilih...</option>
                <option value="true">Ya</option>
                <option value="false">Tidak</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="form-group row">
        <label for="fpg" class="col-sm-4 col-form-label">Tes Gula Puasa</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" id="fpg" name="fpd" placeholder="Hasil Tes Gula Puasa" />
        </div>
    </div>
    <div class="form-group row">
        <label for="gthae" class="col-sm-4 col-form-label">Tes Glukosa Postprandial Dua Jam</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" id="gthae" name="gthae" placeholder="Hasil Tes Gula Postprandial Dua Jam">
        </div>
    </div>
     <div class="form-group row">
        <label for="gds" class="col-sm-4 col-form-label">Tes Glukosa Postprandial Dua Jam</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" id="gds" name="gds" placeholder="Hasil Tes Gula Dalam Sewaktu (GDS)">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-danger">Deteksi</button>
        </div>
    </div>
</form>
<hr>
{{!-- percentage --}}
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Tingkat Kemungkinan</div>
  <div class="card-body">
    <h5 class="card-title">Percentage</h5>
    <p class="card-text" id="results"></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p id="ParentTest"></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p id="SymptomsTest"></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p id="fpgTest"></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p id="gthaeTest"></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p id="gdsTest"></p>
  </div>
</div>
<div class="card bg-primary">
  <div class="card-body">
    <p id="finalResult"></p>
  </div>
</div>
<hr>
<br>
<br>