<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <title>Expert System</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Expert System Diabetes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Tentang Diabetes</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Expert System</a>
                </li>
                 <li class="nav-item">
                <a class="nav-link" href="#">Test</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
  <div class="container-fluid" style="padding-top: 20px;">   
    <div class="card">
        <div class="card-header">
            Sistem Pakar untuk Diabetes
        </div>
        <div class="card-body">
            <h5 class="card-title">Sebuah Sistem Pakar</h5>
            <p class="card-text">untuk mendeteksi diabetes berdasarkan 4 aspek gejala</p>
            <a href="#" class="btn btn-primary">Deteksi Sekarang</a>
        </div>
    </div>
  </div>

  <section id="about" style="padding-top: 20px; align-content: center;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Tentang Diabetes</h2>
                        <p class="lead">Diabetes is a disease that occurs when your blood glucose, also called blood
                            sugar, is too high.
                            Blood glucose is your main source of energy and comes from the food you eat.
                            Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be
                            used for energy.</p>
                    </div>
                </div>
            </div>
   </section>
   <section id="expert" style="padding-top: 20px;">
       <div class="container">
                 <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Diabetes Expert System
                        </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="lead">This expert system is built for detecting Diabetes based on these 4 aspects</p>
                            <ul>
                            <li>1. Diabetic Parent</li>
                            <li>2. Symptoms : there are 10 common symptom</li>
                            <li>3. Glucose Test : Fasting Blood Sugar (FBS)</li>
                            <li>4. Glucose Test : Two-Hour Postprandial Glucose (THPG)</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Resources
                        </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <li><a href="https://www.alodokter.com/diabetes" target="_blank"
                                    rel="noopener noreferrer">https://www.alodokter.com/diabetes</a></li>
                            <li><a href="https://hellosehat.com/pusat-kesehatan/diabetes-kencing-manis/serba-serbi-pemeriksaan-diabetes-di-rumah/"
                                    target="_blank"
                                    rel="noopener noreferrer">https://hellosehat.com/pusat-kesehatan/diabetes-kencing-manis/serba-serbi-pemeriksaan-diabetes-di-rumah/</a>
                            </li>
                            <li><a href="https://www.id.wikihow.com/Mengetahui-Apakah-Anda-Menderita-Diabetes"
                                    target="_blank"
                                    rel="noopener noreferrer">https://www.id.wikihow.com/Mengetahui-Apakah-Anda-Menderita-Diabetes</a>
                            </li>
                            <li><a href="https://www.webmd.com/diabetes/how-sugar-affects-diabetes#1" target="_blank"
                                    rel="noopener noreferrer">https://www.webmd.com/diabetes/how-sugar-affects-diabetes#1</a>
                            </li>
                            <li><a href="https://www.webmd.com/diabetes/diagnosing-type-2-diabetes#1" target="_blank"
                                    rel="noopener noreferrer">https://www.webmd.com/diabetes/diagnosing-type-2-diabetes#1</a>
                            </li>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Complete Documentation
                        </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <a href="https://docs.google.com/document/d/1S0MOIo2WxfIlw1Bqwukt8xEGVtnWrpmK7xbBnCelRPQ/edit?usp=sharing"
                            target="_blank" rel="noopener noreferrer">is Here</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
   </section>
   <div id="test" class="container" style="margin-top: 150px; padding-top: 50px;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {{>questionform}}
                </div>
            </div>
    </div>

    <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Lazuardi Fatahilah 2021</p>
            </div>
            <!-- /.container -->
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>