<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Expert System Diabetes</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/scrolling-nav.css" rel="stylesheet">
        {{!-- <link rel="stylesheet" href="css/tooltipstyle.css"> --}}
    </head>

    <body id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Expert System Diabetes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">Diabetes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Expert System</a>
                        </li>
                        {{!-- <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li> --}}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#test">Test</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="bg-primary text-white">
            <div class="container text-center">
                <h1>Expert System for Diabetes</h1>
                <p class="lead">An expert system made to detect diabetes system based on 4 symptom aspects</p>
            </div>
        </header>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>About Diabetes</h2>
                        <p class="lead">Diabetes is a disease that occurs when your blood glucose, also called blood
                            sugar, is too high.
                            Blood glucose is your main source of energy and comes from the food you eat.
                            Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be
                            used for energy.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="services" class="bg-light" style="padding-top: 20px;">
            <div class="container">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Diabetes Expert System
                        </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="lead">This expert system is built for detecting Diabetes based on these 4 aspects</p>
                            <ul>
                            <li>1. Diabetic Parent</li>
                            <li>2. Symptoms : there are 10 common symptom</li>
                            <li>3. Glucose Test : Fasting Blood Sugar (FBS)</li>
                            <li>4. Glucose Test : Two-Hour Postprandial Glucose (THPG)</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Resources
                        </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <li><a href="https://www.alodokter.com/diabetes" target="_blank"
                                    rel="noopener noreferrer">https://www.alodokter.com/diabetes</a></li>
                            <li><a href="https://hellosehat.com/pusat-kesehatan/diabetes-kencing-manis/serba-serbi-pemeriksaan-diabetes-di-rumah/"
                                    target="_blank"
                                    rel="noopener noreferrer">https://hellosehat.com/pusat-kesehatan/diabetes-kencing-manis/serba-serbi-pemeriksaan-diabetes-di-rumah/</a>
                            </li>
                            <li><a href="https://www.id.wikihow.com/Mengetahui-Apakah-Anda-Menderita-Diabetes"
                                    target="_blank"
                                    rel="noopener noreferrer">https://www.id.wikihow.com/Mengetahui-Apakah-Anda-Menderita-Diabetes</a>
                            </li>
                            <li><a href="https://www.webmd.com/diabetes/how-sugar-affects-diabetes#1" target="_blank"
                                    rel="noopener noreferrer">https://www.webmd.com/diabetes/how-sugar-affects-diabetes#1</a>
                            </li>
                            <li><a href="https://www.webmd.com/diabetes/diagnosing-type-2-diabetes#1" target="_blank"
                                    rel="noopener noreferrer">https://www.webmd.com/diabetes/diagnosing-type-2-diabetes#1</a>
                            </li>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Complete Documentation
                        </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <a href="https://docs.google.com/document/d/1S0MOIo2WxfIlw1Bqwukt8xEGVtnWrpmK7xbBnCelRPQ/edit?usp=sharing"
                            target="_blank" rel="noopener noreferrer">is Here</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="test" class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {{>questionform}}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Lazuardi Fatahilah 2020</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom JavaScript for this theme -->
        <script src="js/scrolling-nav.js"></script>

        <script src="js/app.js"></script>


    </body>

</html>