<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Expert System Diabetes</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/scrolling-nav.css" rel="stylesheet">
        {{!-- <link rel="stylesheet" href="css/tooltipstyle.css"> --}}
    </head>

    <body id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Expert System Diabetes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">Diabetes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Expert System</a>
                        </li>
                        {{!-- <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li> --}}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#test">Test</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="bg-success text-white">
            <div class="container text-center">
                <h1>Sistem Pakar Diabetes</h1>
                <p class="lead">Sebuah Sistem Pakar untuk mendeteksi diabetes berdasarkan 4 aspek gejala</p>
                <a href="#test" class="btn btn-primary">Deteksi Sekarang</a>
            </div>
        </header>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Tentang Diabetes</h2>
                        <p class="lead">Diabetes is a disease that occurs when your blood glucose, also called blood
                            sugar, is too high.
                            Blood glucose is your main source of energy and comes from the food you eat.
                            Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be
                            used for energy.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="services" class="bg-light" style="margin-top:20px; padding-top: 20px;">
            <div class="container">
                <h2>Dokumentasi</h2>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-default text-black" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Sistem Pakar Diabetes
                            </button>
                        </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <p class="lead">Sebuah Sistem Pakar untuk mendeteksi diabetes berdasarkan 4 aspek gejala</p>
                            <ul>
                            <li>1. Diabetes Turunan</li>
                            <li>2. Gejala : Terdapat 10 Gejala Umum</li>
                            </ul>
                            <p class="lead">Sebelum melakukan tes, wajib sudah mengukur kedua aspek dibawah</p>
                            <ul>
                            <li>3. Tes Glukosa / Gula : Gula Puasa atau Fasting Blood Sugar (FBS)</li>
                            <li>4. Tes Glukosa / Gula : Glukosa Postprandial Dua Jam atau Two-Hour Postprandial Glucose (THPG)</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-default text-black collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Referensi
                            </button>
                        </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                           <li>Alodokter - <a href="https://www.alodokter.com/diabetes" target="_blank"
                                    rel="noopener noreferrer">https://www.alodokter.com/diabetes</a></li>
                            <li>Hellosehat - <a href="https://hellosehat.com/pusat-kesehatan/diabetes-kencing-manis/serba-serbi-pemeriksaan-diabetes-di-rumah/"
                                    target="_blank"
                                    rel="noopener noreferrer">https://hellosehat.com/pusat-kesehatan/diabetes-kencing-manis/serba-serbi-pemeriksaan-diabetes-di-rumah/</a>
                            </li>
                            <li>Wikihow - <a href="https://www.id.wikihow.com/Mengetahui-Apakah-Anda-Menderita-Diabetes"
                                    target="_blank"
                                    rel="noopener noreferrer">https://www.id.wikihow.com/Mengetahui-Apakah-Anda-Menderita-Diabetes</a>
                            </li>
                            <li>Webmd - <a href="https://www.webmd.com/diabetes/how-sugar-affects-diabetes#1" target="_blank"
                                    rel="noopener noreferrer">https://www.webmd.com/diabetes/how-sugar-affects-diabetes#1</a>
                            </li>
                            <li>Webmd - <a href="https://www.webmd.com/diabetes/diagnosing-type-2-diabetes#1" target="_blank"
                                    rel="noopener noreferrer">https://www.webmd.com/diabetes/diagnosing-type-2-diabetes#1</a>
                            </li>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="test" class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {{>questionform}}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Dzakiyatul Husni 2022</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom JavaScript for this theme -->
        <script src="js/scrolling-nav.js"></script>

        <script src="js/app.js"></script>


    </body>

</html>
